{{define "inboundInfoModal"}}
{{template "component/inboundInfo"}}
<a-modal id="inbound-info-modal" v-model="infoModal.visible" title='{{ i18n "pages.inbounds.details"}}'
         @ok="infoModal.ok"
         :closable="true" :mask-closable="true"
         ok-text='{{ i18n "pages.inbounds.copyLink"}}' cancel-text='{{ i18n "close" }}'
         :ok-button-props="infoModal.okBtnPros">
    <inbound-info :db-inbound="dbInbound" :inbound="inbound" @copy="copyToClip"></inbound-info>
</a-modal>
<script>

    const infoModal = {
        visible: false,
        inbound: new Inbound(),
        dbInbound: new DBInbound(),
        okBtnPros: {
            attrs: {
                id: "inbound-info-modal-ok-btn",
                style: "display: none",
            },
        },
        show(dbInbound) {
            this.inbound = dbInbound.toInbound();
            this.dbInbound = new DBInbound(dbInbound);
            this.visible = true;
        },
        close() {
            infoModal.visible = false;
        },
    };

    const infoModalApp = new Vue({
        delimiters: ['[[', ']]'],
        el: '#inbound-info-modal',
        data: {
            infoModal,
            clipboard: null,
            get dbInbound() {
                return this.infoModal.dbInbound;
            },
            get inbound() {
                return this.infoModal.inbound;
            }
        },
        methods: {
            copyToClip(clientId) {
                infoModalApp.$nextTick(() => {

                    this.clipboard = new ClipboardJS('.ant-btn-primary', {
                        text: () => this.dbInbound.genLink(clientId),
                    });
                    this.clipboard.on('success', () => app.$message.success('{{ i18n "copySuccess" }}'));
                })
            }
        }


    });

</script>
{{end}}